h1 {
	background-color: cyan;
}

body {
	text-align: center;
}

#gridContainer {
	align-items: stretch;
	margin: auto;
}

.gridLineContainer {
	align-items: stretch;
	display: flex;
	justify-content: center;
}

.gridBoxInit {
	background-color: white;
	color: white;
	flex: 1 0 0; /*grow 1, shrink 0, basis 0 */ 
}

.gridBoxDrawn {
	background-color: black;
	color: black;
	flex: 1 0 0; /*grow 1, shrink 0, basis 0 */ 
}